ul.products,
ul.products li,
ul.products li ul {
  margin:0;
  padding: 0;
  text-indent: 0;
  list-style-type: none;
}


ul.products {
  display: grid;
  grid-template-columns: 49.5% 49.5%;
  column-gap: 1%;
  row-gap: 15px;
  justify-items: stretch;
  overflow: hidden;
}

.products .title {
  margin-bottom: 0.2em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.products .image {
  max-width: 100%;
  height: 369px;
}

@media screen and (max-width: 45em) {
  ul.products {
    grid-template-columns: 100%;
  }

  .products .title {
    width: 100%;
  }
}

.podcast-button, .feed-line {
  margin-top: .75em;
}

.feed-line {
  display: grid;
  grid-template-columns: fit-content(100px) auto fit-content(100px);
  column-gap: 5px;
  align-items: center;
}

.feed-line .feed-select {
  width: 100%;
  font-size: 15px;
  margin: 0;
}

.feed-line .feed-link {
  display: grid;
}
